.cards-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    overflow: hidden;
    background: linear-gradient(180deg,var(--card-background-static1), var(--card-background-static2));

    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    background: linear-gradient(180deg,var(--card-background-hover1), var(--card-background-hover2));
    
    transform: translateY(-15px);
    scale: 1.1;
}