.cards-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    overflow: hidden;
    background-color: var(--card-background);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-15px);
    scale: 1.1;
}