.cards-table {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}

.card {
    overflow: hidden;
    background: linear-gradient(180deg,var(--card-background-static1), var(--card-background-static2));

    border-radius: 20px;
    transition: all 0.3s ease-in-out;

    padding-bottom: 40px;
    margin-top: 20px;
}

.best {
    margin-bottom: 25px;
}

@media (max-width: 1280px) {
    .cards-table {
        grid-template-columns: repeat(1, auto);
    }
}