.round-img {
    border-radius: 50%;
}

.profile-img{
    width: 200px;
}

.socials-imgs{
    width: 65px;
}

.project-previeve-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    max-height: 30%;
}