.project-name {
    text-align: left;
}

.project-status {
    text-align: left;
}

.project-devs {
    text-align: left;
}

.project-link {
    display: flex;
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

.project-link:hover {
    color: rgb(111, 0, 126);
}