html{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom,#30005e, #111);
    min-height: 100vh; 
    color: azure;
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
}

section {
    background: radial-gradient(circle,#555555, #3b3b3b);;
    border-radius: 10px;
    padding: 20px;
    padding-right: 30%;
    padding-left: 30%;
    display: flex;
    justify-content: center;
}

.row {
    display: inline;
    flex-direction: row;
}