:root {
  --bg1: #572781;
  --bg2: #3E0470;
  --sections-color1: #7f3abb;
  --sections-color2: #A368D5;
  --text-color: azure;
}

html{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom,var(--bg1), var(--bg2));
    min-height: 100vh; 
    color: var(--text-color);
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
}

section {
    background: radial-gradient(circle,var(--sections-color1), var(--sections-color2));
    border-radius: 40px;
    padding: 20px;
    padding-right: 20%;
    padding-left: 20%;
    display: flex;
    justify-content: center;
}