:root {
  --bg1: #30005e;
  --bg2: #111;
  --sections-color1: rgb(0, 140, 255);
  --sections-color2: rgb(0, 81, 148);
  --text-color: azure;
}

html{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom,var(--bg1), var(--bg2));
    min-height: 100vh; 
    color: var(--text-color);
}

body{
    display: flex;
    justify-content: center;
    text-align: center;
}

section {
    background: radial-gradient(circle,var(--sections-color1), var(--sections-color2));
    border-radius: 10px;
    padding: 20px;
    padding-right: 30%;
    padding-left: 30%;
    display: flex;
    justify-content: center;
}