:root {
  --bg1: #572781;
  --bg2: #3E0470;
  --sections-color1: #7f3abb;
  --sections-color2: #A368D5;
  --card-background: #612a91; 
  --text-color: azure;
}

html{
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom,var(--bg1), var(--bg2));
    min-height: 100vh; 
    color: var(--text-color);
    background-attachment: fixed;
}

body{
    display: flexbox;
    justify-content: center;
    text-align: center;
}

section {
    background: radial-gradient(circle,var(--sections-color1), var(--sections-color2));
    margin-top: 15px;
    width: 50%;

    height: fit-content;
    display: inline-block;

    border-radius: 30px;

    padding: 20px;

    text-align: center;
}